html{
    margin: 0;
    padding: 0;
}

.screen{
    display: flex;
    flex-direction: row;
}

.leftscreen{
    /* width: 60%; */
    width: 700px;
    height: 100vh;

    /* border: #7F56D9 solid 4px; */
}

.forgotpasswordleftscreen{
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center; 
    
}

.signinleftscreen{
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center; 
    
}

.card{
    display: flex;
    flex-direction: column;

    /* border: #7F56D9 solid 4px; */
}

.hdiv{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 10px;

    /* border: green solid 4px; */
}

h2{
    margin: 0;
    text-align: left;
    width: 500px;
    
    /* border: #7F56D9 solid 4px; */
}

.hdiv p{
    margin: 0;
    text-align: left;
    width: 500px;
    font-size: 14px;
    
    /* border: #7F56D9 solid 4px; */
}

.mainform{
    min-width: 700px;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    /* border: #7F56D9 solid 4px; */
}

.signinmainform{
    min-width: 700px;
    height: 45%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.signincard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 50%;
    height:"50vh",   
}

.forgotpasswordcard{
    top: 50%;
    height:"50vh",
}

.forgotpasswordform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertbox{
    width:65%;
    height: 5%;
    margin-top: 10px;
}

.forminput {
    width:70%;
    /* border: #7F56D9 solid 4px; */
}

.signinforminput{
    margin: 10px 10px;
}

.forgotpasswordforminput{
    width:85%;
    margin: 30px;
}

.loginlink{
    display: flex;
    justify-content: center;
}
.loginlink p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.formbutton{
    background:#c050e2;
    width:40%;
}

.signinloginlink{
    display: flex;
    flex-direction: column;
}

.link{
    text-decoration: none;
}

/* RIGHT SCREEN */

.rightscreen{
    height: 100vh;
    width: 666px;
    background-color: #EACAFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.picturebackground{
    width: 400px;
    height: 550px;
    background-color: #7F56D9;
    position: relative;

    /* push the background to the right */
    top: 30px;
    right: 100px;
}

.picturebackground img {
    position: relative;
    width: 100%;
    height: 100%;

    bottom: 50px;
    right: 80px;
}

